## Análisis de Ventas y Gastos en una Empresa con 5 Tiendas
Una empresa cuenta con 5 tiendas, y se desea analizar sus ventas y gastos mensuales durante un
año (12 meses). Los gastos están divididos en las siguientes categorías:

In [ ]:
# Poner nombre a las 5 tiendas y que los meses se vean al mostrar los datos.
# Los valores deberán estar entre estos rangos, pero generados aleatoriamente:
# ventas 50000:150000
# gastos_material 5000:20000,
# gastos_personal 20000:50000
# gastos_publicidad 3000:10000
# gastos_eléctricos 2000:7000

import numpy as np
import pandas as pd

# Fijar semilla para obtener los mismos números aleatorios en cada ejecución
np.random.seed(42)
array_meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']
array_tiendas = ['tienda1', 'tienda2', 'tienda3', 'tienda4', 'tienda5']
columnas_tiendas = ['ventas', 'gastos_material', 'gastos_personal', 'gastos_publicidad', 'gastos_electricos']

# Generamos los datos aleatorios
ventas = np.random.randint(50000, 150000, (5, 12))
gastos_material = np.random.randint(5000, 20000, (5, 12))
gastos_personal = np.random.randint(20000, 50000, (5, 12))
gastos_publicidad = np.random.randint(3000, 10000, (5, 12))
gastos_electricos = np.random.randint(2000, 7000, (5, 12))
data = []

# Mostramos los datos
# Crear el DataFrame
data = []
for i in range(5):
    for j in range(12):
        data.append([array_tiendas[i], array_meses[j], ventas[i, j], gastos_material[i, j], gastos_personal[i, j], gastos_publicidad[i, j], gastos_electricos[i, j]])
df = pd.DataFrame(data, columns=["tienda", "mes", "ventas", "gastos_material", "gastos_personal", "gastos_publicidad", "gastos_electricos"])

In [102]:
# Mostrar las primeras 5 filas del DataFrame
print(df.head())

    tienda      mes  ventas  gastos_material  gastos_personal  \
0  tienda1    enero   65795            12555            25892
1  tienda1  febrero   50860             8073            23561
2  tienda1    marzo  126820             6021            46854
3  tienda1    abril  104886            16653            26184
4  tienda1     mayo   56265            15805            39483

   gastos_publicidad  gastos_electricos  beneficio  gastos_mensuales
0               4722               2698      19928             45867
1               6314               4160       8752             42108
2               6157               6097      61691             65129
3               8915               6737      46397             58489
4               5625               2854      -7502             63767

### 1. Cálculo de Totales
#### A nivel global (sumando todas las tiendas):
- Total de ingresos mensuales.
- Total de cada tipo de gasto mensual.
- Beneficio mensual total (beneficio = ingresos - gastos).

In [50]:
# Total de ingresos
print('Total de ingresos')
print(df['ventas'].sum())
print("---------------")

# Total de cada gasto por tienda
print('Total de gastos')
print(df[columnas_tiendas[1:]].sum())
print("---------------")

# Beneficio mensual de cada tienda (beneficio = ingresos - gastos)
df['beneficio'] = df['ventas'] - df[columnas_tiendas[1:]].sum(axis=1)
print('Beneficio Total')
print(df['beneficio'].sum())
print("---------------")

Total de ingresos
6060420
---------------
Total de gastos
gastos_material       765316
gastos_personal      2173388
gastos_publicidad     398817
gastos_electricos     272301
dtype: int64
---------------
Beneficio Total
2450598
---------------

#### A nivel de cada tienda:
- Ingresos mensuales de cada tienda.
- Total de cada tipo de gasto mensual por tienda.
- Beneficio mensual por tienda.

In [65]:
# Ingresos mensuales de cada tienda
print('Ingresos mensuales de cada tienda')
print(df.groupby(['tienda'])['ventas'].sum())
print("---------------")

Ingresos mensuales de cada tienda
tienda
tienda1    1123211
tienda2    1244514
tienda3    1265885
tienda4    1181351
tienda5    1245459
Name: ventas, dtype: int64
---------------

In [ ]:
# Gastos mensuales de cada tienda
print('Gastos mensuales de cada tienda')
print(df.groupby(['tienda'])[columnas_tiendas[1:]].sum())
print("---------------")

Gastos mensuales de cada tienda
         gastos_material  gastos_personal  gastos_publicidad  \
tienda
tienda1           163648           433621              79550
tienda2           162372           399977              76025
tienda3           148294           440132              85054
tienda4           131168           470780              78431
tienda5           159834           428878              79757

         gastos_electricos
tienda
tienda1              54880
tienda2              55971
tienda3              50232
tienda4              52534
tienda5              58684
---------------

In [81]:
# Beneficio mensual de cada tienda
print('Beneficio mensual de cada tienda')
print(df.groupby(['tienda'])['beneficio'].sum())
print("---------------")

Beneficio mensual de cada tienda
tienda
tienda1    391512
tienda2    550169
tienda3    542173
tienda4    448438
tienda5    518306
Name: beneficio, dtype: int64
---------------

### 2. Análisis de los Meses Clave

#### A nivel global:
- Mes con mayores ingresos y mes con menores ingresos.
- Mes con mayor beneficio y mes con menor beneficio.

In [88]:
# Mes con mayores ingresos y mes con menores ingresos
print('Mes con mayores ingresos:')
mes_max = df.groupby(['mes'])['ventas'].sum().idxmax()
valor_max = df.groupby(['mes'])['ventas'].sum().max()
print(f"{mes_max} con {valor_max}")
print("---------------")

print('Mes con menores ingresos:')
mes_min = df.groupby(['mes'])['ventas'].sum().idxmin()
valor_min = df.groupby(['mes'])['ventas'].sum().min()
print(f"{mes_min} con {valor_min}")

print("---------------")
print('Mes con mayores beneficio:')
mes_max = df.groupby(['mes'])['beneficio'].sum().idxmax()
valor_max = df.groupby(['mes'])['beneficio'].sum().max()
print(f"{mes_max} con {valor_max}")

print("----------------")
print('Mes con menores beneficio:')
mes_min = df.groupby(['mes'])['beneficio'].sum().idxmin()
valor_min = df.groupby(['mes'])['beneficio'].sum().min()
print(f"{mes_min} con {valor_min}")

Mes con mayores ingresos:
abril con 586339
---------------
Mes con menores ingresos:
mayo con 365024
---------------
Mes con mayores beneficio:
agosto con 274402
----------------
Mes con menores beneficio:
marzo con 83332


#### A nivel de cada tienda:
- Mes con mayores ingresos y mes con menores ingresos por tienda.
- Mes con mayor beneficio y mes con menor beneficio por tienda.

In [98]:
print("A nivel de tienda")
print('Mes con mayores ingresos:')
idx_max = df.groupby("tienda")["ventas"].idxmax()
tiendas_mes_max = df.loc[idx_max, ["tienda", "mes", "ventas"]]
print(tiendas_mes_max)

A nivel de tienda
Mes con mayores ingresos:
     tienda        mes  ventas
7   tienda1     agosto  137498
22  tienda2  noviembre  135305
25  tienda3    febrero  143016
42  tienda4      julio  146276
57  tienda5    octubre  142067

In [99]:
print('Mes con menores ingresos:')
idx_min = df.groupby("tienda")["ventas"].idxmin()
tiendas_mes_min = df.loc[idx_min, ["tienda", "mes", "ventas"]]
print(tiendas_mes_min)

Mes con menores ingresos:
     tienda      mes  ventas
1   tienda1  febrero   50860
14  tienda2    marzo   50769
29  tienda3    junio   52747
40  tienda4     mayo   53890
54  tienda5    julio   67159

In [100]:
print('Mes con mayores beneficio:')
idx_max = df.groupby("tienda")["beneficio"].idxmax()
tiendas_mes_max = df.loc[idx_max, ["tienda", "mes", "beneficio"]]
print(tiendas_mes_max)

Mes con mayores beneficio:
     tienda        mes  beneficio
7   tienda1     agosto      82068
22  tienda2  noviembre      82360
25  tienda3    febrero      79335
42  tienda4      julio      90603
57  tienda5    octubre      92550

In [101]:
print('Mes con menores beneficio:')
idx_min = df.groupby("tienda")["beneficio"].idxmin()
tiendas_mes_min = df.loc[idx_min, ["tienda", "mes", "beneficio"]]
print(tiendas_mes_min)

Mes con menores beneficio:
     tienda         mes  beneficio
10  tienda1   noviembre     -10714
14  tienda2       marzo      -3426
29  tienda3       junio       2194
40  tienda4        mayo     -10182
56  tienda5  septiembre      15188

### 3. Estadísticas Mensuales

#### A nivel global:
- Media, mediana, moda y desviación típica de los ingresos mensuales.
- Media, mediana, moda y desviación típica del beneficio mensual.

In [107]:
print("A nivel global:")
print("--------------")
print("Ingresos mensuales") 
media_global = df["ventas"].mean()
print("Media global de ventas:", media_global)

mediana_global = df["ventas"].median()
print("Mediana global de ventas:", mediana_global)

moda_global = df["ventas"].mode()
print("Moda global de ventas:", list(moda_global))

print("--------------")
print("Beneficio mensuales")
media_beneficio_global = df["beneficio"].mean()
print("Media global de beneficio:", media_beneficio_global)

mediana_beneficio_global = df["beneficio"].median()
print("Mediana global de beneficio:", mediana_beneficio_global)

moda_beneficio_global = df["beneficio"].mode()
print("Moda global de beneficio:", list(moda_beneficio_global))

A nivel global:
--------------
Ingresos mensuales
Media global de ventas: 101007.0
Mediana global de ventas: 109442.5
Moda global de ventas: [50769, 50860, 52747, 53890, 55311, 56265, 58792, 60627, 61394, 65795, 66023, 67159, 68431, 73483, 73897, 75658, 78693, 81551, 85773, 85920, 87194, 91090, 91606, 93001, 94131, 98555, 103707, 104886, 106886, 109150, 109735, 110263, 112955, 114820, 114925, 115725, 116803, 117121, 117221, 117435, 117969, 118148, 119092, 119479, 121932, 123969, 126552, 126820, 130038, 130077, 132386, 133104, 134478, 134654, 135305, 137313, 137498, 142067, 143016, 146276]
--------------
Beneficio mensuales
Media global de beneficio: 40843.3
Mediana global de beneficio: 42700.0
Moda global de beneficio: [-10714, -10182, -7502, -6437, -3426, -1949, 1780, 2194, 8310, 8752, 14381, 15188, 15524, 16677, 17123, 19694, 19928, 20616, 21303, 24293, 25143, 26597, 33161, 34381, 34647, 36013, 36552, 40161, 41435, 42124, 43276, 44246, 45868, 46397, 49261, 53006, 53436, 54785, 55365, 56750, 57007, 59326, 60104, 60309, 61691, 63530, 64977, 66295, 69369, 70098, 72098, 73495, 73515, 75928, 77783, 79335, 82068, 82360, 90603, 92550]


#### A nivel de cada tienda:
- Media, mediana, moda y desviación típica de los ingresos por tienda.
- Media, mediana, moda y desviación típica del beneficio por tienda.

In [114]:
print("A nivel de tienda:")
print("--------------")
print("Ingresos mensuales")
media_tienda = df.groupby("tienda")["ventas"].mean()
print("Media de ventas por tienda:", round(media_tienda, 2))

mediana_tienda = df.groupby("tienda")["ventas"].median()
print("Mediana de ventas por tienda:", mediana_tienda)

moda_tienda = df.groupby("tienda")["ventas"].apply(lambda x: x.mode())
print("Moda de ventas por tienda:", moda_tienda)

A nivel de tienda:
--------------
Ingresos mensuales
Media de ventas por tienda: tienda
tienda1     93600.92
tienda2    103709.50
tienda3    105490.42
tienda4     98445.92
tienda5    103788.25
Name: ventas, dtype: float64
Mediana de ventas por tienda: tienda
tienda1     92610.5
tienda2    113887.5
tienda3    112437.5
tienda4    104204.5
tienda5    107838.0
Name: ventas, dtype: float64
Moda de ventas por tienda: tienda
tienda1  0      50860
         1      56265
         2      65795
         3      66023
         4      87194
         5      91090
         6      94131
         7     104886
         8     110263
         9     126820
         10    132386
         11    137498
tienda2  0      50769
         1      55311
         2      78693
         3     103707
         4     109735
         5     112955
         6     114820
         7     114925
         8     117221
         9     117969
         10    133104
         11    135305
tienda3  0      52747
         1      68431
         2      75658
         3      85773
         4     106886
         5     109150
         6     115725
         7     117435
         8     121932
         9     134478
         10    134654
         11    143016
tienda4  0      53890
         1      58792
         2      60627
         3      61394
         4      81551
         5      91606
         6     116803
         7     119092
         8     123969
         9     130038
         10    137313
         11    146276
tienda5  0      67159
         1      73483
         2      73897
         3      85920
         4      93001
         5      98555
         6     117121
         7     118148
         8     119479
         9     126552
         10    130077
         11    142067
Name: ventas, dtype: int64

In [ ]:
print("--------------")
print("Beneficio mensuales")
media_beneficio_tienda = df.groupby("tienda")["beneficio"].mean()
print("Media de beneficio por tienda:", media_beneficio_tienda)

mediana_beneficio_tienda = df.groupby("tienda")["beneficio"].median()
print("Mediana de beneficio por tienda:", mediana_beneficio_tienda)

moda_beneficio_tienda = df.groupby("tienda")["beneficio"].apply(lambda x: x.mode())
print("Moda de beneficio por tienda:", moda_beneficio_tienda)

### 4. Conclusiones
- Explicar las conclusiones extraídas de cada análisis.
- Comparar los resultados entre tiendas y determinar qué tiendas tienen mejor rendimiento.
- Identificar patrones o tendencias en las ventas y los gastos tanto a nivel global como por tienda.