# Caso Practico Tema 4
Enrique y Ana se conocieron hace 3 a침os y han decidido irse a vivir juntos.
Les encantan los perros, as칤 que adem치s est치n pensando en adoptar uno. Enrique, que
es programador, cre칩 hace unos d칤as un sencillo programa en Python para poder dar un
vistazo r치pido a las razas que m치s le gustan, a modo de DataFrame de Pandas en el que
contempla tanto el nombre de la raza como una puntuaci칩n de 0 a 10 indicando cu치nto le
gusta esa raza.
Ana est치 de acuerdo en adoptar una de las razas que Enrique tiene contempladas, as칤
que le ha dicho cu치nto le gusta cada una de ellas (de 0 a 100) para que Enrique lo integre
en su DataFrame. As칤 podr치n calcular medias para decidir qu칠 raza les gusta m치s a los
dos.

### 游닄 Importamos las librerias necesarias

In [19]:
import pandas as pd

### 游닇Apartado 1:
Crea un DataFrame llamado df a partir de la lista de razas y puntuaciones otorgadas por
Enrique, usando el 칤ndice, las columnas que se te proporcionan.

In [20]:

# Apartado 1: Crear DataFrame
indice = ['uno', 'dos', 'tres', 'cuatro', 'cinco']
columnas = ['Raza', 'Puntos']
lista = [['Caniche', 8.1], ['Bulldog', 7.3], ['ChowChow', 7.6], ['Chihuahua', 9.0], ['Labrador', 9.3]]

# Creamos el dataframe de pandas
df = pd.DataFrame(lista, index=indice, columns=columnas)

# Mostramos el dataframe
print("\nApartado 1:")
print("----------------------------")
print(df)

Apartado 1:
----------------------------
             Raza  Puntos
uno       Caniche     8.1
dos       Bulldog     7.3
tres     ChowChow     7.6
cuatro  Chihuahua     9.0
cinco    Labrador     9.3

#### 游닇 Apartado 2:
Ana le entrega sus puntuaciones a Enrique y 칠ste las transcribe en forma de la siguiente lista:

In [21]:
puntos_ana = [61,75,82,95,99]

# A침adimos una nueva columna al dataframe con los puntos de Ana
df['PuntosAna'] = puntos_ana

# Mostramos el dataframe con la nueva columna
print("\nApartado 2:")
print("----------------------------")
print(df)

Apartado 2:
----------------------------
             Raza  Puntos  PuntosAna
uno       Caniche     8.1         61
dos       Bulldog     7.3         75
tres     ChowChow     7.6         82
cuatro  Chihuahua     9.0         95
cinco    Labrador     9.3         99

#### 游닇Apartado 3:
Como las puntuaciones de Ana han entrado en valores de 0 a 100 y las de Enrique estaban de 0 a 10, divide la columna 'PuntosAna' entre 10 de modo que todas las puntuaciones queden en la misma escala.

In [22]:
# Dividimos los puntos de Ana entre 10 para que esten en la misma escala que los de Enrique
df['PuntosAna'] = df['PuntosAna'] / 10
print("\nApartado 3:")
print("----------------------------")
print(df)

Apartado 3:
----------------------------
             Raza  Puntos  PuntosAna
uno       Caniche     8.1        6.1
dos       Bulldog     7.3        7.5
tres     ChowChow     7.6        8.2
cuatro  Chihuahua     9.0        9.5
cinco    Labrador     9.3        9.9

#### 游닇Apartado 4:
Enrique y Ana han estado viendo una revista de animales y han decidido a침adir otras dos
razas m치s, por lo que han creado la siguiente lista ya con sus puntuaciones integradas.

In [23]:
lista2 = [['Samoyedo',9.2,8.9],['Pinscher',8.1,6.7]]
# Creamos nuevos indices para los nuevos datos del dataframe
nuevos_indices = ['nuevo1', 'nuevo2']

# Creamos un nuevo dataframe con los nuevos datos
df2 = pd.DataFrame(lista2, index=nuevos_indices, columns=['Raza', 'Puntos', 'PuntosAna'])

# Concatenamos los dos dataframes
df = pd.concat([df, df2])

# Mostramos el dataframe con los nuevos datos
print("\nApartado 4:")
print("----------------------------")
print(df)

Apartado 4:
----------------------------
             Raza  Puntos  PuntosAna
uno       Caniche     8.1        6.1
dos       Bulldog     7.3        7.5
tres     ChowChow     7.6        8.2
cuatro  Chihuahua     9.0        9.5
cinco    Labrador     9.3        9.9
nuevo1   Samoyedo     9.2        8.9
nuevo2   Pinscher     8.1        6.7

#### 游닇 Apartado 5:
Crea la columna 'Media' para poder ver la puntuaci칩n media para cada raza.

In [24]:
df['Media'] = df[['Puntos', 'PuntosAna']].mean(axis=1)

# Mostramos el dataframe con la nueva columna de la media
print("\nApartado 5:")
print("----------------------------")
print(df)

Apartado 5:
----------------------------
             Raza  Puntos  PuntosAna  Media
uno       Caniche     8.1        6.1   7.10
dos       Bulldog     7.3        7.5   7.40
tres     ChowChow     7.6        8.2   7.90
cuatro  Chihuahua     9.0        9.5   9.25
cinco    Labrador     9.3        9.9   9.60
nuevo1   Samoyedo     9.2        8.9   9.05
nuevo2   Pinscher     8.1        6.7   7.40

#### 游닇 Apartado 6:
Enrique y Ana deciden que no tendr치n un bulldog. Elimina la fila cuyo 칤ndice es 'dos'.

In [25]:
df = df.drop(index='dos')

# Mostramos el dataframe sin la fila con el indice 2
print("\nApartado 6:")
print("----------------------------")
print(df)

Apartado 6:
----------------------------
             Raza  Puntos  PuntosAna  Media
uno       Caniche     8.1        6.1   7.10
tres     ChowChow     7.6        8.2   7.90
cuatro  Chihuahua     9.0        9.5   9.25
cinco    Labrador     9.3        9.9   9.60
nuevo1   Samoyedo     9.2        8.9   9.05
nuevo2   Pinscher     8.1        6.7   7.40

#### 游닇 Apartado 7:
Viendo las puntuaciones medias, Enrique y Ana deciden que la decisi칩n va a estar entre
chihuahua, labrador y samoyedo, por lo que deciden obtener s칩lo esas filas del
DataFrame (en concreto desde la posici칩n 2 hasta la 5 **no inclu칤da** ).

In [26]:
# Filtramos las filas del dataframe obteniendo solo las filas de la 2 a la 4 (la 5 no esta incluida)
df_filtrado = df.iloc[2:5]

# Mostramos el dataframe filtrado
print("\nApartado 7:")
print("----------------------------")
print(df_filtrado)

Apartado 7:
----------------------------
             Raza  Puntos  PuntosAna  Media
cuatro  Chihuahua     9.0        9.5   9.25
cinco    Labrador     9.3        9.9   9.60
nuevo1   Samoyedo     9.2        8.9   9.05

#### 游닇 Apartado 8:
Por 칰ltimo, s칩lo por curiosidad, deciden ver informaci칩n estad칤stica sobre las filas que les
han quedado.

In [27]:
# Obtenemos la descripcion del dataframe filtrado
descripcion = df_filtrado.describe()

# Mostramos la descripcion del dataframe filtrado
print("\nApartado 8:")
print("----------------------------")
print(descripcion)

Apartado 8:
----------------------------
         Puntos  PuntosAna     Media
count  3.000000   3.000000  3.000000
mean   9.166667   9.433333  9.300000
std    0.152753   0.503322  0.278388
min    9.000000   8.900000  9.050000
25%    9.100000   9.200000  9.150000
50%    9.200000   9.500000  9.250000
75%    9.250000   9.700000  9.425000
max    9.300000   9.900000  9.600000